@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  box-sizing: border-box;
  color: #eeeeee;
}

html {
  background-color: #2f76e9;
  touch-action: manipulation;
}

@media only screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 2em 2em;
  }

  .bug {
    margin: 5em;
    position: relative;
    width: 40em;
    height: 40em;
    border-radius: 50px;
    background: #2f76e9;
    box-shadow: 20px 20px 35px #2864c6, -20px -20px 35px #3688ff;
  }

  .bug > img {
    width: inherit;
    height: inherit;
    padding: 2em;
  }

  .bug > h1 {
    font-family: "Fira Code", monospace;
    font-size: 5em;
    position: relative;
    top: -60%;
    text-align: center;
    animation: colorcycle 0.5s ease-in-out infinite alternate;
  }

  @keyframes colorcycle {
    0% {
      text-shadow: 0px 0px 60px #e45454;
    }

    50% {
      text-shadow: 0px 0px 60px #60df7b;
    }

    100% {
      text-shadow: 0px 0px 60px #5c5ae0;
    }
  }

  @-webkit-keyframes colorcycle {
    0% {
      text-shadow: 0px 0px 60px #e45454;
    }

    50% {
      text-shadow: 0px 0px 60px #60df7b;
    }

    100% {
      text-shadow: 0px 0px 60px #5c5ae0;
    }
  }

  .details {
    margin: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2em;
    width: 35%;
  }

  .desc > p {
    margin: 1em 0;
    font-weight: 600;
  }

  .event-details > div {
    margin: 0.5em 0;
  }

  .event-details > div > label {
    font-size: 0.7em;
  }

  button {
    margin: 1.5em 0;
    padding: 0.7em 0.9em;
    border: none;
    font-size: 1em;
    font-weight: 600;
    border-radius: 24px;
    background: #2f76e9;
    box-shadow: 13px 13px 25px #2864c6, -13px -13px 25px #3688ff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    outline: none;
  }

  button:hover {
    cursor: pointer;
  }

  button:focus {
    border-radius: 24px;
    background: #2f76e9;
    box-shadow: inset 13px 13px 25px #275fb8, inset -13px -13px 25px #3571cc;
    padding: 0.7em 0.9em;
    margin: 1.5em auto;
  }

  .logos {
    margin-top: 3em;
    position: fixed;
    left: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    bottom: 0;
    background-color: #1159c5;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .logos img {
    width: 4em;
    margin: 0.4em 0;
    padding: 0.2em;
  }

  .logos > p {
    font-size: 1.4em;
    text-transform: uppercase;
    width: 80vw;
    margin-left: 2em;
  }

  /* ANIMISTA STUFF */

  .slide-in-elliptic-left-fwd {
    -webkit-animation: slide-in-elliptic-left-fwd 0.7s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-elliptic-left-fwd 0.7s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2020-7-2 22:53:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * @animation slide-in-elliptic-left-fwd 
 * ----------------------------------------
 */
  @-webkit-keyframes slide-in-elliptic-left-fwd {
    0% {
      -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
      transform: translateX(-800px) rotateY(30deg) scale(0);
      -webkit-transform-origin: -100% 50%;
      transform-origin: -100% 50%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
      transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 1800px 50%;
      transform-origin: 1800px 50%;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-left-fwd {
    0% {
      -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
      transform: translateX(-800px) rotateY(30deg) scale(0);
      -webkit-transform-origin: -100% 50%;
      transform-origin: -100% 50%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
      transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 1800px 50%;
      transform-origin: 1800px 50%;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .bug {
    margin: 25vh;
    position: relative;
    width: 80vw;
    height: 80vw;
    border-radius: 50px;
    background: #2f76e9;
    box-shadow: 20px 20px 35px #2864c6, -20px -20px 35px #3688ff;
  }

  .bug > img {
    width: inherit;
    height: inherit;
  }

  .bug > h1 {
    font-family: "Fira Code", monospace;
    font-size: 4em;
    position: relative;
    top: -65%;
    text-align: center;
    animation: colorcycle 0.5s ease-in-out infinite alternate;
  }

  @keyframes colorcycle {
    0% {
      text-shadow: 0px 0px 60px #e45454;
    }

    50% {
      text-shadow: 0px 0px 60px #60df7b;
    }

    100% {
      text-shadow: 0px 0px 60px #5c5ae0;
    }
  }

  @-webkit-keyframes colorcycle {
    0% {
      text-shadow: 0px 0px 60px #e45454;
    }

    50% {
      text-shadow: 0px 0px 60px #60df7b;
    }

    100% {
      text-shadow: 0px 0px 60px #5c5ae0;
    }
  }

  .details {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .desc > p {
    margin: 4em 1em;
    font-weight: 600;
  }

  .event-details > div {
    margin: 0.5em 1em;
  }

  .event-details > div > label {
    font-size: 0.6em;
  }

  button {
    margin: 4em auto;
    margin-bottom: 1.5em;
    position: relative;
    padding: 0.8em 1.5em;
    border: none;
    font-size: 1em;
    font-weight: 600;
    border-radius: 24px;
    background: #2f76e9;
    box-shadow: 13px 13px 25px #2864c6, -13px -13px 25px #3688ff;
    font-family: "Montserrat", sans-serif;
    outline: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    text-align: center;
  }

  button:hover {
    border-radius: 24px;
    background: #2f76e9;
    box-shadow: inset 13px 13px 25px #275fb8, inset -13px -13px 25px #3571cc;
    padding: 0.8em 1.5em;
  }

  .event-details {
    width: 100%;
  }

  .logos {
    margin-top: 3em;
    position: relative;
    bottom: 0;
    background-color: #1159c5;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .logos img {
    width: 3em;
    margin: 0.4em 0;
    padding: 0.2em;
  }

  .logos > p {
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    width: 10em;
  }
}

.no-margin {
  margin: 0.5em auto;
}
